name: pipeline
on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Copy files to repository
        uses: actions/checkout@v5

      - name: Install Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install poetry
        run: pipx install poetry

      - name: Install dependencies
        run: poetry install

      - name : Run linting
        run: poetry run task lint

      - name: Run tests
        run: poetry run task test

    env:
      DATABASE_URL: ${{secrets.DATABASE_URL}}
      ACCESS_TOKEN_EXPIRE_MIN: ${{secrets.ACCESS_TOKEN_EXPIRE_MIN}}
      ALGORITHM: ${{secrets.ALGORITHM}}
      SECRET_KEY: ${{secrets.SECRET_KEY}}